<header>
  <nav>
    <a href="/"><i class="fa fa-home" aria-hidden="true"></i> HOME</a>
    <a href="/carrinho"><i class="fa-solid fa-cart-shopping"></i> CARRINHO</a>
  </nav>
  <div class="logo">
    <img src="/images/Titulo.png" alt="Logo Doce Maison">
  </div>
</header>


